In [1]:
from __future__ import unicode_literals

import os

import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
def parse_page(x):
    x = x.split('_')
    return ' '.join(x[:-3]), x[-3], x[-2], x[-1]


def nan_fill_forward(x):
    for i in range(x.shape[0]):
        fill_val = None
        for j in range(x.shape[1] - 3, x.shape[1]):
            if np.isnan(x[i, j]) and fill_val is not None:
                x[i, j] = fill_val
            else:
                fill_val = x[i, j]
    return x

In [3]:
df = pd.read_csv('data/raw/train_2.csv', encoding='utf-8')

In [5]:
df.shape

(145063, 794)

In [6]:
df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2017-08-22,2017-08-23,2017-08-24,2017-08-25,2017-08-26,2017-08-27,2017-08-28,2017-08-29,2017-08-30,2017-08-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,37.0,58.0,25.0,23.0,25.0,47.0,44.0,26.0,24.0,21.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,14.0,34.0,16.0,31.0,34.0,33.0,32.0,29.0,34.0,25.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,6.0,23.0,11.0,8.0,6.0,13.0,12.0,8.0,12.0,9.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,21.0,42.0,23.0,17.0,11.0,21.0,20.0,20.0,110.0,15.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,41.0,25.0,22.0,20.0,24.0,29.0,20.0,17.0,24.0

In [7]:
date_cols = [i for i in df.columns if i != 'Page']

In [9]:
df['name'], df['project'], df['access'], df['agent'] = zip(*df['Page'].apply(parse_page))

In [10]:
df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2017-08-26,2017-08-27,2017-08-28,2017-08-29,2017-08-30,2017-08-31,name,project,access,agent
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,25.0,47.0,44.0,26.0,24.0,21.0,2NE1,zh.wikipedia.org,all-access,spider
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,34.0,33.0,32.0,29.0,34.0,25.0,2PM,zh.wikipedia.org,all-access,spider
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,6.0,13.0,12.0,8.0,12.0,9.0,3C,zh.wikipedia.org,all-access,spider
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,11.0,21.0,20.0,20.0,110.0,15.0,4minute,zh.wikipedia.org,all-access,spider
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,24.0,29.0,20.0,17.0,24.0,52 Hz I Love You,zh.wikipedia.org,all-access,spider

In [13]:
df.project.nunique(), df.access.nunique(), df.agent.nunique(), df.Page.nunique()

(9, 3, 2, 145063)

In [15]:
le = LabelEncoder()
df['project'] = le.fit_transform(df['project'])
df['access'] = le.fit_transform(df['access'])
df['agent'] = le.fit_transform(df['agent'])
df['page_id'] = le.fit_transform(df['Page'])

In [16]:
df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2017-08-27,2017-08-28,2017-08-29,2017-08-30,2017-08-31,name,project,access,agent,page_id
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,47.0,44.0,26.0,24.0,21.0,2NE1,8,0,1,1797
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,33.0,32.0,29.0,34.0,25.0,2PM,8,0,1,1801
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,13.0,12.0,8.0,12.0,9.0,3C,8,0,1,1904
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,21.0,20.0,20.0,110.0,15.0,4minute,8,0,1,2012
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,29.0,20.0,17.0,24.0,52 Hz I Love You,8,0,1,2039

In [14]:
if not os.path.isdir('data/processed'):
    os.makedirs('data/processed')

In [17]:
df[['page_id', 'Page']].to_csv('data/processed/page_ids.csv', encoding='utf-8', index=False)

In [18]:
data = df[date_cols].values

In [21]:
np.save('data/processed/data.npy', np.nan_to_num(data))
np.save('data/processed/is_nan.npy', np.isnan(data).astype(int))

In [22]:
np.save('data/processed/project.npy', df['project'].values)
np.save('data/processed/access.npy', df['access'].values)
np.save('data/processed/agent.npy', df['agent'].values)
np.save('data/processed/page_id.npy', df['page_id'].values)

In [23]:
test_data = nan_fill_forward(df[date_cols].values)

In [24]:
np.save('data/processed/test_data.npy', np.nan_to_num(test_data))
np.save('data/processed/test_is_nan.npy', np.isnan(test_data).astype(int))

終わり。以下分析。

nan_fill_forward

In [28]:
x = df[date_cols].values

In [25]:
for i in range(x.shape[0]):
    break

In [26]:
i

0

In [27]:
fill_val = None

In [29]:
for j in range(x.shape[1] - 3, x.shape[1]):
    break

In [30]:
j

790

In [33]:
if np.isnan(x[i, j]) and fill_val is not None:
    x[i, j] = fill_val
else:
    fill_val = x[i, j]

In [34]:
fill_val

26.0

In [35]:
x[i, j]

26.0

In [38]:
x[0].shape

(793,)

In [39]:
test_data.shape

(145063, 793)

In [41]:
test_data[0]

array([  18.,   11.,    5.,   13.,   14.,    9.,    9.,   22.,   26.,
         24.,   19.,   10.,   14.,   15.,    8.,   16.,    8.,    8.,
         16.,    7.,   11.,   10.,   20.,   18.,   15.,   14.,   49.,
         10.,   16.,   18.,    8.,    5.,    9.,    7.,   13.,    9.,
          7.,    4.,   11.,   10.,    5.,    9.,    9.,    9.,    9.,
         13.,    4.,   15.,   25.,    9.,    5.,    6.,   20.,    3.,
         14.,   46.,    5.,    5.,   13.,    4.,    9.,   10.,    9.,
         11.,   11.,   11.,    9.,   15.,    5.,   10.,    7.,    4.,
          8.,    9.,   10.,    6.,   13.,   16.,    6.,   24.,    9.,
         11.,   12.,    8.,   14.,    6.,    6.,   11.,   14.,    6.,
         10.,   20.,    7.,   15.,    8.,   15.,    5.,    8.,    8.,
          5.,   11.,  165.,   34.,    6.,   13.,    8.,    9.,   11.,
         26.,   18.,    3.,    5.,   12.,    6.,   16.,   19.,    9.,
         10.,   11.,   11.,    7.,    9.,   10.,   24.,    6.,    6.,
          8.,   16.,   13.,   10.,   10.,    6.,    5.,   20.,    6.,
         47.,    9.,    9.,   12.,   11.,   17.,   15.,   14.,   11.,
         97.,   11.,   12.,   11.,   14.,   15.,   12.,  104.,    5.,
         22.,   45.,   75.,   29.,   34.,   20.,   12.,   25.,    9.,
         62.,   20.,   19.,    8.,   23.,   13.,   16.,   34.,   36.,
         11.,   18.,   12.,   24.,   30.,   27.,   44.,   35.,   53.,
         11.,   26.,   13.,   18.,    9.,   16.,    6.,   19.,   20.,
         19.,   22.,   30.,   14.,   16.,   22.,   15.,   15.,   26.,
         16.,   13.,   27.,   18.,   13.,   32.,   31.,   16.,   38.,
         18.,    9.,   14.,   10.,   24.,    8.,   15.,   18.,   10.,
         23.,   17.,   11.,   26.,   14.,    8.,   12.,    9.,   11.,
         34.,   17.,   29.,   11.,    9.,   14.,   21.,   12.,   11.,
         13.,   11.,   13.,   16.,   13.,   19.,   21.,   14.,   11.,
         35.,   18.,   42.,   15.,    5.,   21.,   56.,    9.,   20.,
         17.,   18.,    8.,    9.,   17.,    9.,   10.,   14.,   17.,
          6.,   18.,   13.,   11.,   12.,   11.,    8.,   15.,   11.,
         20.,   59.,   11.,   18.,   17.,   12.,   14.,   13.,    9.,
        490.,  189.,  102.,   38.,  126.,   71.,   21.,   57.,   79.,
         17.,   17.,   23.,   16.,   23.,   18.,   22.,   44.,    6.,
         31.,   17.,   25.,   40.,   19.,   15.,   15.,   29.,   18.,
         16.,   13.,   20.,   22.,   19.,   11.,   50.,   22.,   39.,
         23.,   21.,   23.,   22.,   16.,   19.,   35.,   16.,   12.,
         15.,   13.,   14.,   10.,   21.,   20.,   19.,   14.,   12.,
         15.,   17.,   16.,   21.,   27.,   13.,   11.,   15.,   14.,
         18.,   18.,   10.,   11.,   14.,   18.,   14.,   13.,   17.,
         15.,   14.,  234.,    8.,   62.,   26.,   22.,    8.,   22.,
         15.,   69.,   11.,   18.,   23.,   12.,   20.,   17.,   15.,
         16.,   18.,   21.,   15.,   30.,  115.,   56.,   45.,   17.,
         18.,   15.,   18.,   14.,   15.,   15.,   24.,   22.,   18.,
         30.,   12.,   13.,   18.,   17.,   31.,   26.,   29.,   12.,
         19.,   19.,   57.,   17.,   20.,   49.,   10.,   19.,   26.,
         41.,   23.,   30.,   55.,   17.,   24.,   14.,   12.,   49.,
         42.,   37.,   13.,   30.,   20.,   33.,   20.,   14.,   40.,
         15.,   18.,   26.,    8.,   25.,   21.,   20.,   25.,   19.,
         23.,   18.,   19.,   18.,   55.,   16.,   65.,   11.,   11.,
         13.,   20.,   21.,   13.,   24.,   20.,   13.,   32.,   16.,
         10.,   13.,   44.,   17.,   13.,   72.,   40.,   19.,   14.,
         13.,   12.,   14.,   10.,   26.,   13.,   22.,   14.,   23.,
         12.,    8.,   50.,   13.,   10.,   16.,   14.,   10.,   24.,
         10.,   20.,   10.,   26.,   25.,   16.,   19.,   20.,   12.,
         19.,   50.,   16.,   30.,   18.,   25.,   14.,   20.,    8.,
         67.,   13.,   41.,   10.,   21.,   13.,    8.,   15.,   14.,
         12.,    6.,   11.,   10.,   42.,   21.,   24.,   14.,   11.,
        204.,   14.,   45.,   33.,   28.,   18.,   14.,   47.,   15.,
         14.,   18.,   20.,   14.,   16.,   14.,   20.,   60.,   22.,
         15.,   17.,   19.,   18.,   21.,   21.,   47.,   65.,   17.,
         32.,   63.,   15.,   26.,   14.,   20.,   22.,   19.,   18.,
         20.,   26.,   42.,   35.,   13.,   51.,   11.,   12.,   31.,
         15.,    4.,   22.,   12.,   12.,   11.,    4.,   12.,   13.,
         13.,   56.,   47.,  120.,   52.,  106.,   35.,   77.,   16.,
         11.,   28.,    5.,   20.,   24.,   57.,   43.,   22.,    7.,
         11.,   13.,   42.,   11.,    7.,   22.,   13.,   20.,   11.,
         18.,   16.,   18.,    9.,   15.,   16.,   14.,   11.,   66.,
         18.,   23.,   20.,   20.,   39.,   16.,   43.,   14.,   26.,
         15.,   16.,   22.,   22.,   28.,   21.,   22.,   19.,   28.,
         22.,   24.,   19.,   21.,   28.,   30.,   26.,   28.,   22.,
         23.,   44.,   11.,   22.,   33.,   66.,   19.,   73.,   17.,
         17.,   16.,   32.,   38.,   19.,   27.,   20.,  124.,   18.,
         17.,   17.,   32.,   17.,   21.,   57.,   22.,   13.,   43.,
         16.,   18.,   13.,   20.,   50.,   33.,   31.,   19.,   20.,
         71.,   24.,   20.,   36.,   80.,   25.,   29.,   13.,   42.,
         55.,   21.,   15.,   21.,   16.,   22.,   22.,   23.,   21.,
         19.,   23.,   14.,   21.,   24.,   33.,   12.,   22.,   16.,
         66.,   15.,   40.,   22.,   18.,   29.,   19.,   16.,   37.,
         57.,   30.,   35.,   25.,   30.,   28.,   18.,   23.,   37.,
         23.,   27.,   24.,   26.,   35.,   32.,   29.,   38.,   46.,
         22.,   28.,   26.,   29.,   21.,   23.,   23.,   32.,   34.,
         21.,   24.,   23.,   24.,   26.,   15.,   14.,   15.,   19.,
         29.,   22.,   25.,   20.,   19.,   25.,   17.,   12.,   24.,
         38.,   43.,   17.,   16.,   16.,   12.,   20.,   16.,   31.,
         19.,   14.,   20.,   13.,   22.,   14.,   20.,   46.,   24.,
         22.,   22.,   11.,   25.,   45.,   39.,   17.,   18.,   13.,
         57.,   18.,   14.,   19.,   39.,   22.,   16.,   28.,   21.,
         37.,   58.,   25.,   23.,   25.,   47.,   44.,   26.,   24.,   21.])